/* ============================================
---------------  Fonts   ----------------------  
===============================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ============================================
        ------   Common Styles  ---------
===============================================*/
*{
    margin: 0;
    padding: 0;
}
:root {
    --black: #161616;
    --white: #fff;
    --red:red;
    --LightSeaGreen:#1ABC9C;
    --gray:#545454;
  }
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
   
}
.container{
    width:1320px;
    margin: auto;
    padding-top: 100px;
}
/* ============================================
        ------   Header Styles  ---------
===============================================*/
.header-top{
    width: 1320px;
    height: 646px;
    background-color: var(--gray);
    /* margin-top: 50px; */
    border-radius: 15px;
}
.header-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1108px;
    height: 646px;
    padding: 111px 0px 0px 106px;
}

/*---- header-1  -------*/

.header-1{
    width: 531px;
    height: 431px;
}
.header-info {
    width: 480px;
}

.header-title {
    color: var(--white);
    font-size: 70px;
    margin-bottom: 20px;
}

.header-text {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    width: 486px;
}
.btn {
    width: 187px;
    height: 56px;
    background-color: var(--LightSeaGreen);
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.btn i {
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
    transition: 0.3s;
}
.btn:hover{
    background-color:#fff;
}
.btn:hover a{
    color:#000;
}
.btn:hover i{
    color:#000;
}

/*---- header-2 -------*/
.header-2{
    width: 580px;
    height: 612px;
    margin: -76px 0px 0px 20px;
}
.header-image img{
    width: 100%;
}

/* ============================================
        ------   worldCup Styles  ---------
===============================================*/
.worldCup-top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
}

/* world Cup Nav Bar */
.worldCup-nav{
    Width:312px;
    Height:312px;
    background: #161616;
    border-radius: 10px;
}
.wc-navBar {
    width: 252px;
    height: 64px;
    background-color: #fff;
    margin: 30px auto;
    border-radius: 10px;
    cursor: pointer;
    
}
.navbar-btn a {
    text-decoration: none;
    color: var(--black);
}

.navbar-btn {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}
.active {
    background: var(--LightSeaGreen);
   
}
.active .navbar-btn a{
    color: #fff;
}

/* world Cup carts */
.worldCup-carts {
    width: 984px;
    height: 1134px;
    margin-bottom: 30px;
}
.worldCup-carts-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}
.worldCup-cart{
    width: 312px;
    height: 365px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.cart-image{
    width: 312px;
    height: 175px;
    margin-bottom: 20px;
}
.cart-image img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.tag {
    text-decoration: none;
    border: 2px solid #000;
    display: block;
    width: 115px;
    height: 30px;
    font-size: 20px;
    color: #000;
    text-align: center;
    padding: 7px 0px 0px 0px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 20px;
}
.cart-details {
    width: 272px;
    height: 52px;
    margin: auto;
}

.cart-details h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 20px;
    color: #161616;
}
.cart-duration-comments {
    width: 160px;
    height: 26px;
}

.hour {
    color: #161616;
    opacity: 70%;
    margin-right: 30px;
    font-size: 16px;
}

.hour i {
    margin-right: 3px;
}
.comment {
    color: #161616;
    opacity: 70%;
    margin-right: 30px;
    font-size: 16px;
}

.comment i {
    margin-right: 3px;
}

/* ============================================
        ------   UpComing Match Styles  ---------
===============================================*/
.Upcoming-carts{
    width: 984px;
    height: 508px;
    margin-bottom: 30px;
}
.Upcoming-carts-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}
.upComing-match-cart{
    width: 312px;
    height: 242px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
/* Flags */
.flags {
    width: 252px;
    height: 57px;
    display: flex;
    justify-content: space-between;
    margin: 53px 30px 20px 30px;
}

.flags img {
    width: 93px;
    height: 56px;
}

.flags h3 {
    font-size: 26px;
    line-height: 26px;
    margin-top: 13px;
}
/* flags name */
.flags {
    width: 252px;
    height: 57px;
    display: flex;
    justify-content: space-between;
    margin: 53px 30px 20px 30px;
}

.flags img {
    width: 93px;
    height: 56px;
}

.flags h3 {
    font-size: 26px;
    line-height: 26px;
    margin-top: 13px;
}

.flags-name {
    width: 202px;
    height: 60px;
    margin: 0px 55px 52px 55px;
}

.flags-name h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #161616;
    text-align: center;
}

.flags-name p {
    font-size: 14px;
    font-weight: 400;
    color: #4D4D4D;
    text-align: center;
}

/* ============================================
        ------   Footer Styles  ---------
===============================================*/
footer{
    width: auto;
    height: 444px;
    background-color: var(--gray);
}
.footer-details {
    width: 1320px;
}

.footer-details h3 {
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 30px;
}
.line {
    border: 0.5px solid #FFF;
    text-align: center;
    opacity: 10%;
}
.footer-contacts {
    width: 898px;
    height: 24px;
    margin: 50px auto;
}

.footer-contacts ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer-contacts ul li a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
}




/* ============================================
    ********  Responsive Design Styles ********
===============================================*/

/* Tablet and ipad Responsive Design */
@media screen and (min-width:768px) and (max-width:1023px){
    .container {
        width: 734px;
        margin: auto;
        padding-top: 100px;
    }
    
    .header-top {
        width: 734px;
        height: 398px;
    }
    
    .header-row {
        width: 642px;
        height: 340px;
        padding: 58px 17px 0px 76px;
    }
    
    .header-1 {
        width: 316px;
        height: 276px;
    }
    
    .header-info {
        width: 316px;
    }
    
    .header-info h3 {
        font-size: 40px;
        line-height: 50px;
    }
    
    .header-title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
        font-weight: 700;
    }
    
    .header-text {
        width: 316px;
        height: 48px;
        font-size: 14px;
        line-height: 24px;
    }
    .non {
        display: none;
    }
    .btn {
        width: 161px;
        height: 48px;
        padding: 12px;
        font-size: 20px;
    }
    
    .btn i {
        font-size: 20px;
    }
    .header-2 {
        width: 323px;
        height: 340px;
        margin: 0px 17px 0px 0px;
    }
    
    .header-image img {
        width: 100%;
    }
    /* world Cup section styles */
    .worldCup-top {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .worldCup-nav {
        Width: 734px;
        Height: 64px;
        display: flex;
        justify-content: space-between;
        background: transparent;
        margin-bottom: 30px;
    }
    .wc-navBar {
        width: 230px;
        height: 64px;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid #ddd;
        margin: 0px;
    }
    .worldCup-carts {
        width: 734px;
        height: 1283px;
        margin-bottom: 30px;
    }
    .worldCup-carts-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-row-gap: 0px;
        grid-column-gap: 0px;
    }
    .worldCup-cart {
        width: 357px;
        height: 414px;
        border: 1px solid #ddd;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .cart-image {
        width: 357px;
        height: 200px;
        margin-bottom: 20px;
    }
    .cart-image img {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .tag {
        height: 32px;
        font-size: 22px;
    
        padding: 4px 0px 0px 0px;
    
    }
    .cart-details {
        width: 311px;
        height: 60px;
    }
    .cart-details h3 {
        font-size: 20px;
    }
    .cart-duration-comments {
        width: 163px;
        height: 30px;
        display: flex;
        justify-content: space-between;
    }
    .hour {
        color: #161616;
        opacity: 70%;
        font-size: 18px;
    }
    .comment {
        color: #161616;
        opacity: 70%;
        font-size: 18px;
    }
    /* Footer section styles */
    footer{
        width: auto;
        height: 445px;
        background-color: var(--gray);
    }
    .footer-details {
        width: 734px;
    }
    .footer-details h3 {
        font-size: 40px;
    }
    .footer-contacts {
        width: 635px;
        height: 100px;
    }
    .footer-contacts ul {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-contacts ul li {
        margin: 26px 11px;
    }
    
    .footer-contacts ul li:nth-child(6) {
        margin-right: 218px;
    }
    
    .footer-contacts ul li:nth-child(5) {
        margin-left: 216px;
    }
    .footer-contacts ul li a {
        font-size: 19px;
        font-weight: 500;
    }
    

}


